.vv {
	width: 100%;
	height: 2px;
	background: black;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-left {
	flex: 1;
	min-width: 200px;
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 20px;
}

.footer-links {
	display: flex;
	flex: 3;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-links div {
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 150px;
}

.footer-links h4 {
	font-size: 16px;
	font-weight: bold;
}

.footer-links ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer-links li {
	color: #666666;
	font-size: 14px;
	cursor: pointer;
}

.subscribe p {
	font-size: 14px;
	margin: 10px 0;
}

.email-input {
	display: flex;
	border: 1px solid #ccc;
}

.email-input input {
	border: none;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
	font-size: 14px;
}

.footer-bottom span {
	margin: 0;
	color: blue;
}

.social-icons span {
	margin-left: 10px;
	cursor: pointer;
}
